@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	min-height: 100vh;
	background: #111;
}
.calendar {
	position: relative;
	width: 200px;
	background: #fff;
	text-align: center;
	border-radius: 8px;
	overflow: hidden;
	-webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
.calendar #monthName {
	position: relative;
	padding: 5px 10px;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	background: #ff6331;
}
.calendar #dayName {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 300;
	color: #999;
}
.calendar #dayNumber {
	margin-top: 0;
	font-size: 80px;
	font-weight: 700;
	line-height: 1em;
	color: #333;
}
.calendar #year {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #999;
}
